<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script>
    ons.bootstrap()
    .controller("SwipePage", function($scope){
        $scope.openMenu = function(){
            const menu = document.getElementById("menu");
            menu.open();
        }
        
        $scope.loadPage = function(page){
            const menu = document.getElementById("menu");
            menu.close();
            content.load(page, {animation: 'fade'});
        }
    });
    ons.ready(function() {
      console.log("Onsen UI is ready!");
    });
  </script>
</head>
<body>
    <ons-splitter var="mySplitter" ng-controller="SwipePage">
        <ons-splitter-side id="menu" side="left" width="200px" collapse swipeable>
            <ons-page>
                <ons-list>
                    <ons-list-item ng-click="loadPage('profile.html')" tappable>
                        Profile
                    </ons-list-item>
                    <ons-list-item ng-click="loadPage('notifications.html')" tappable>
                        Notifications
                    </ons-list-item>
                </ons-list>
            </ons-page>
        </ons-splitter-side>
        <ons-splitter-content id="content" page="tab.html">
        </ons-splitter-content>
    </ons-splitter>
    
    <template id="tab.html">
        <ons-page>
        <ons-toolbar>
            <div class="left">
                <ons-toolbar-button ng-click="openMenu()">
                    <ons-icon icon="md-menu"></ons-icon>
                </ons-toolbar-button>
            </div>
            
            <div class="right">
                <ons-toolbar-button>
                    <ons-icon icon="comment" ng-click="loadPage('tweet.html')"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>

        <ons-tabbar position="bottom" swipeable position="auto" animation="none">
            <ons-tab page="bookmark.html" icon="ion-asterisk"></ons-tab>
            <ons-tab page="home.html" icon="ion-home" active></ons-tab>
            <ons-tab page="search.html" icon="ion-search"></ons-tab>
        </ons-tabbar>
            <p>item List</p>
        </ons-page>
    </template>
    
    <template id="tweet.html">
        <ons-page>
            <p>tweet</p>
        </ons-page>
    </template>
    
    <!-- 上画面左のsplit Buttonの遷移ページ（はじめ） -->
    <template id="profile.html">
        <ons-page>
            <p>profile</p>
        </ons-page>
    </template>
    
    <template id="notifications.html">
        <ons-page>
            <p>notification</p>
        </ons-page>
    </template>
    <!-- 上画面左のsplit Buttonの遷移ページ（終わり） -->
    

    <!-- 全タブページ表示内容（はじめ） -->
    <template id="bookmark.html">
        <ons-page>
            <p>item List</p>
        </ons-page>
    </template>
    
    <template id="home.html">
        <ons-page>
            <p>home</p>
        </ons-page>
    </template>
    
    <template id="search.html">
        <ons-page>
            <p>search</p>
        </ons-page>
    </template>
    
    <!-- 全タブページ表示内容（おわり） -->
    
</body>
</html>
